PORT=add-your-port
JWT_SECRET=add-your-jwt-secret
JWT_TOKEN_EXPIRY=add-your-duration
MONGODB_URI=add-your-mongodb-connection-string
CLOUDINARY_CLOUD_NAME=add-your-CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=add-your-CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=add-your-CLOUDINARY_API_SECRET
SMTP_HOST=add-your-host
SMTP_USER=add-your-username
SMTP_PASSWORD=your-password-here
SMTP_PORT=add-smtp-port-here
